<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic/fragment/headtag :: common_header(~{::title})">
    <title>Miny</title>
</head>
<body>
<!-- Material sidebar -->
<div th:replace="~{basic/fragment/navigation :: sidebar}"></div>

<!-- Top menu -->
<div th:replace="~{basic/fragment/header :: header}"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/item/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>
    <!--
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>설명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{item/{itemId}(itemId=${item.id})}" th:text="${item.id}">상품id</a></td>
                <td><a href="item.html" th:href="@{|/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
                <td th:text="${item.quantity}">hello</td>
            </tr>
            </tbody>
        </table>
    </div>
-->

    <!-- First Photo Grid-->
    <!--상품 조건문 템플릿 조각 사용-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-quarter" th:each="item : ${items}">
            <img src="../image/shoes.webp" th:src="@{/image/shoes.webp}" alt="clothes" style="width:100%">
            <h6><a href="item.html" th:href="@{item/{itemId}(itemId=${item.id})}" th:text="${item.itemName}">상품명</a></h6>
            <p th:text="${item.price}">10000</p>
        </div>
        <!--
        <div class="w3-quarter">
            <img src="/w3images/steak.jpg" alt="Steak" style="width:100%">
            <h3>Let Me Tell You About This Steak</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/cherries.jpg" alt="Cherries" style="width:100%">
            <h3>Cherries, interrupted</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            <p>What else?</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
            <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>-->
    </div>

    <!-- Second Photo Grid-->
    <!--
    <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
            <img src="/w3images/popsicle.jpg" alt="Popsicle" style="width:100%">
            <h3>All I Need Is a Popsicle</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/salmon.jpg" alt="Salmon" style="width:100%">
            <h3>Salmon For Your Skin</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
            <h3>The Perfect Sandwich, A Real Classic</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/croissant.jpg" alt="Croissant" style="width:100%">
            <h3>Le French</h3>
            <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
    </div>-->

    <!-- Pagination -->

    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
        <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/sidebar.js}"></script>

    <!-- End page content -->

</body>
</html>
