<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="value" class="w3-row-padding w3-padding-16 w3-center" id="food">
    <!--th:if="${widget.color.name() == 'GREEN'}"-->
    <div class="w3-quarter" th:each="item : ${items}">
        <div th:if="${item.itemType.name()} == ${value} or ${value} == 'all'">
            <!--<div th:value="${item.itemType.name()}"></div>
            <div th:value="${param1}"></div>-->
            <img src="../image/shoes.webp" th:src="@{/image/shoes.webp}" alt="clothes" style="width:100%">
            <h6><a href="item.html" th:href="@{item/{itemId}(itemId=${item.id})}" th:text="${item.itemName}">상품명</a></h6>
            <p th:text="${item.price}">10000</p>
        </div>
    </div>
</div>
</body>
</html>