<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic/fragment/headtag :: common_header(~{::title})">
    <title>Miny</title>
</head>
<body>
<!-- sidebar -->
<div th:replace="~{basic/fragment/navigation :: sidebar}"></div>

<!-- Top menu -->
<div th:replace="~{basic/fragment/header :: header}"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/board/product/write}'|"
                    type="button">add</button>
        </div>
    </div>

    <!-- First Photo Grid-->
    <!--상품 조건문 템플릿 조각 사용-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-quarter" th:each="question : ${questions}" style="width: 100%">
            <div>
                <h6><a href="item.html" th:text="${question.questionType}" th:href="@{article/{questionId}(questionId=${question.id})}">질문 종류</a></h6>
            </div>
        </div>
    </div>

    <!-- Pagination -->

    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
        <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/sidebar.js}"></script>

<!-- End page content -->

</body>
</html>
