<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
  <title th:replace="${title}">레이아웃 타이틀</title>
  <!-- 공통 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
  <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-bar-block .w3-bar-item {padding:20px}
  </style>
</head>